.projects-page{
    display:block;
    height:100%;
    overflow:hidden;
    position:relative;
    top:5rem;
}

.projects-description{
    color:white;
    display:block;
    position:relative;
    z-index:200;
    margin:0 auto;
    width:80%;
}

.case-studies{
    margin:3rem 0;
    padding:0;
    text-align:center;
}

.case-studies a{
    color:white;
}

.case-studies li{
    background:rgba(150, 150, 150, 1);
    color:white;
    display:inline-block;
    list-style:none;
    margin: .8rem 0;
    height: 30rem;
    width: 100%;
    position:relative;
}

.case-studies li:hover .cs-description,
.case-studies li:hover .cs-label{
    color:#0abdbd;
}

.cs-photo{
    position:absolute;
    top:0;
    left:0;
    height:30rem;
    overflow:hidden;
    text-align:center;
    width:100%;
    z-index: 100;
}

.cs-photo img{
    max-height:100%;
}

.cs-details{
    background:rgba(0, 0, 0, 0.8);
    height:auto;
    right:0;
    left:0; 
    bottom:0;
    padding:2rem;
    position:absolute;
    text-align:left;
    z-index: 200;
}

.cs-label{
    display:block;
    font-size:1.2rem;
    margin-bottom:.4rem;
}

.cs-description{
    display:block;
    font-size:1.8rem;
}

.cs-logo{
    max-width: 50%;
    position:absolute;
    top:.8rem;
    right:.8rem;
    z-index: 200;
}

.cs-logo img{
    max-width:100%;
}

.project-logos{
    display:block;
    position:relative;
    bottom:1.2rem;
    margin-top:3rem;
    z-index:100;
}

.project-logos h3{
    color:white;
}

.logo-row .logo{
    display:inline-block;
    text-align:center;
    width:100%;
}

.logo-row img{
    margin: 0 auto;
    max-width:80%;
    opacity:0.6;
    vertical-align:middle;
}

.circle img{
    max-width:9rem;
}

.test-lab{
    max-height:100%;
}

.logo-row img{
    display:inline-block;
    max-width: 15rem;
    margin-bottom:2rem;
}

@media screen and (min-width:640px) and (orientation:landscape){
    .case-studies li{
        margin:0 2%;
        width:46%;
    }
}

@media screen and (min-width:768px){
    .case-studies li{
        margin:0 2%;
        width:46%;
    }

    .project-logos .logo{
        width:25%;
    }
    
    
}

@media screen and (min-width: 1024px) and (orientation: landscape){
    .case-studies li{
        margin: 1.2rem;
        height: 25rem;
        width: 30rem;
        overflow:hidden;
    }
    
    .case-studies li img{
        max-height:100%;
        max-width:100%;
        top:-8%;
    }
    .project-logos{
        width:100%;
        margin-top:0;
    }
    .project-logos h3{
        margin-top:0;
    }
    .logo-row .logo{
        width:12.5%;
    }
    .logo-row img{
        margin-bottom:0;
    }
    .logo img{
        max-width:80%;
    }
    .test-lab{
        max-height:auto;
    }
}


@media screen and (min-width: 1024px) and (max-width:1200px) and (orientation: portrait){

}




