.contact-text{
    line-height:2.4rem;
    position:absolute;
    z-index:100;
}

.contact-text a{
    color:#ccbfe0;
}

.contact-text a:hover{
    color:#8266ad;
}


@media screen and (max-width:740px){

.contact-text{
    width:80%;
}    
.contact-text p{
    text-align:left;
}

}